body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  font-size: 23px;
}

.ModifyPassWordTotalContainer {
  transform: translate(0, 0);
}

.ModifyPassWordContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0px, 2em);
}

form label,
form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 2rem;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* *** */

.message-display-div {
  margin: 0 0 1rem 0;
  text-align: center;
  font-size: 20px;
  color: #c12b8e;
}

/* *** */

.include-items {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  top: 0;
  right: 0;
  gap: 20px; /* Adjust this value to change the distance between items */
}

.order-item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: Arial, sans-serif; /* Choose your preferred font family */
  font-size: 18px; /* Adjust the font size as needed */
  font-weight: normal;
  color: #333; /* Set your preferred text color */
}

.user-name-item-span {
  margin-right: 5px; /* Add some space if needed */
}

.address-item a {
  text-decoration: underline;
  color: inherit;
  transition: color 0.2s ease-in-out; /* Smooth color transition on hover */
}

.address-item a:hover {
  color: #007bff; /* Change the link color on hover */
}
