body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

.plain-container {
  transform: translate(0, -3%);
}

.message-display-div {
  margin: 0 0 2rem 0;
  text-align: center;
  font-size: 2em;
  color: #c12b8e;
}

.register-container {
  max-width: 65%;
  margin: 0 auto;
  padding: 2em;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.1);
}

form label,
form input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  height: 2rem;
}

form button {
  width: 100%;
  padding: 1em;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.5em;
}

.diffuser {
  text-align: center;
}
/*  */

form input {
  box-sizing: border-box;
  border: 0.1em solid #ccc;
  border-radius: 0.5rem;
}

form input:focus {
  border-color: #4caf50;
  outline: none;
}

form input::placeholder {
  color: #888;
}
