.index-address-div {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vw;
  padding: 0 3vw;
}

.index-address-div p {
  margin: 0;
  line-height: 6vw; /* 使文本与导航栏高度对齐 */
}

.index-address-div a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.index-address-div a:hover {
  color: #ddd; /* 鼠标悬停时的文本颜色 */
}

/*  */

.conserve {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vw;
  padding: 0 3vw;
}

.conserve p {
  margin: 0;
  line-height: 6vw; /* 使文本与导航栏高度对齐 */
}

.conserve a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.conserve a:hover {
  color: #ddd; /* 鼠标悬停时的文本颜色 */
}

/*  */

.include-items {
  background-color: #333; /* 导航栏背景色 */
  color: white; /* 文本颜色 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3vw; /* 导航栏高度 */
  padding: 0 3vw;
}

.order-item {
  text-align: center;
  line-height: 3vw; /* 使文本与导航栏高度对齐 */
}

.passwd-user-name-item {
  cursor: default;
}

.address-item a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.address-item a:hover {
  color: #ddd; /* 鼠标悬停时的文本颜色 */
}
